#dialogr-wrapper {
	background-color: #fff;
	border: 2px solid rgb(62, 62, 62); ;
}
#dialogr-header {
	font-family: arial;
	background-color: rgb(62, 62, 62);
	color: #fff;
}
#dialogr-header h1 {
	font-weight: normal;
}
#dialogr-overlay {
	z-index: 30;
}
div#dialogr-content {
	background-color: #fff;
	margin: 10px;
	
}
#dialogr-footer {
	color: rgba(62,62,62); 
	background-color: #eee;
	border-top: 2px solid #ccc;
	padding: 12px;
	box-sizing: border-box;
}

#dialogr-footer button {
	margin-right: 10px;
	border: 1px solid #ccc;
	font-size: 0.9em;
	padding: 8px;
	min-width: 80px;	
	background-color: #27ae60  ;
	color: #fff;
}
#dialogr-footer a {
	margin-left: 10px;
	padding-left: 10px;
	border-left: 1px solid #aaa;
}

#dialogr-footer button.save {
	font-weight: bold;
}
#dialogr-footer button:hover {
	background-color: #eee;
}
#dialogr-header h1 {font-size: 1.1em;margin:0;padding:6px;}