/*
	Filename: example_base.css
	Description: Contains the base CSS used for all examples
	Author: David Lidström
*/
body {
	background-color: whitesmoke;
	font-family: helvetica,sans-serif;
}

.example {
	font-weight: normal;
	padding: 12px;
	border-bottom: 1px solid #ccc;
}
.example h1 {
	margin-top:0;
}